.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 4rem;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
